# Server Port
PORT=3001

# Database Connection (MongoDB)
MONGODB_URI=mongodb+srv://namnh4581_db_user:50SAWO4UGkULnCaM@cluster1.5eudgkz.mongodb.net/

# JWT Configuration
JWT_SECRET=chika_restaurant_jwt_secret_key_2026_super_secure
JWT_EXPIRES_IN=7d
