# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Backend Socket Server URL
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Cloudinary Config (for image upload)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dp1uvjzpcclea
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=kohi-coffee
